.navber-container {
  padding-left: 190px;
  padding-right: 50px;
}
.navber-style {
  color: #1e3f9a;
}
.navber-btn {
  border: none;
  color: white;
  background-color: #1e3f9a;
  padding: 5px;
  width: 170px;
  border-radius: 20px;
}
.navber-style:hover {
  border-bottom: 2px solid #1e3f9a;
}
